
 .custom-pagination .ant-pagination-item-active {
  background-color:  #00796B;   
  border-color:  #00796B;  
  color:  white;  
  border-radius: 50%;  
}
.white-row {
  background-color: white !important;
}
 
 
.table-container {
  overflow-x: auto;  
  white-space: nowrap;  
  border: 1px solid #ddd; 
  border-radius: 4px;  
  padding: 8px;  
  background: #fff;  
}


 
@media screen and (min-width: 1200px) {
  .table-container table {
    width: 100%;  
  }
   
    
  
}

 
@media screen and (max-width: 1200px) {
  .table-container table {
    min-width: 1200px;  
  }
}
  
@media screen and (max-width: 900px) {
  .table-container table {
    min-width: 900px;  
  } 
  .search-filter{
      display: flex;
   }
   .searchh{
      height: 32px;
   }
   h3{
      font-size: large;
   }
}
